/build-linux64-server/
/build-dockcross-win64/
/.project
/.cproject
/build-win64/
/.DS_Store
/build-linux64/
/build-macos/
/packages/
/build_archive/
/build-linux64-ubuntu/
/conan/
/singularity/
/cmake-build*
/build*
/debug-build*
/.idea/
/nfsim/
/all_solvers/*
/.venv/
/venv/

.DS_Store
/dist/

tests/__pycache__/

*.whl

VCell/tests/testFiles/output/

VCell/tests/smoke/*.fvinput
VCell/tests/smoke/*.hdf5
VCell/tests/smoke/*.log
VCell/tests/smoke/*.meshmetrics
VCell/tests/smoke/*.zip

VCell/tests/testFiles/input/Smoldyn/*.zip
VCell/tests/testFiles/input/Smoldyn/*.log
VCell/tests/testFiles/input/Smoldyn/*.hdf5
VCell/tests/testFiles/input/Smoldyn/*.smoldynOutput
