[submodule "extern/pybind11"]
	path = extern/pybind11
	url = ../../pybind/pybind11
	branch = stable
[submodule "libzippp"]
	path = libzippp
	url = https://github.com/ctabin/libzippp.git
[submodule "vcell-messaging"]
	path = vcell-messaging
	url = https://github.com/virtualcell/vcell-messaging.git
[submodule "vcell-expressionparser"]
	path = vcell-expressionparser
	url = https://github.com/virtualcell/vcell-expressionparser.git
